{#
params:
- username=None
#}
{% extends "base.html" %}

{% block title %}Golf Pool | Forgot PIN{% endblock %}
{% block hero_title %}Forgot PIN{% endblock %}

{% block body %}
    <div class="container">
        <div class="box">
            <form id="change-picks-form">
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                        <input id="forgot-pin-email" type="email" name="email" class="input" style="text-transform: lowercase" required>
                    </div>
                </div>
                <div class="field is-grouped is-grouped-right">
                    <div class="control">
                        <input id="submit-forgot-pin-button" class="button is-link" type="button" value="Submit" onclick="submit_forgot_pin($('#forgot-pin-email').val())">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script>
    function submit_forgot_pin(email) {
        if(email === "")
            return;

        let submitButton = $("#submit-forgot-pin-button");
        submitButton.addClass('is-loading');

        $.post("/picks/change/forgot-pin", {email:email}, function(response) {
            window.alert(response);
        }).fail(function() {
            window.alert("Server Error: Please try again later");
        }).done(function() {
            submitButton.removeClass('is-loading');
        });

    }
    </script>

{% endblock %}