{% import "base.macro.html" as macs %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Golf Pool{% endblock %}</title>

    <link rel="icon" href="/static/img/golf-club.png">
    <link rel="apple-touch-icon" href="/static/img/golfer-sil-iphone.png">

    {{ macs.head_includes(retrieve_src_local) }}
    {{ macs.helper_scripts() }}

    {# Default Stylesheets #}
    {% block add_head %}
        <link rel="stylesheet" href="/static/css/base.min.css?v=1.3">
    {% endblock %}
</head>

{# Navigations menus #}
{% set nav_menu = [
    ("/", "Home", "home"),
    (url_for('picks.picks_make'), "Make Picks", "edit"),
    (url_for('picks.picks_change'), "Change Picks", "tools"),
    (url_for('results.results_live'), "Standings", "medal"),
    (url_for('picks.picks_poolwide'), "Poolwide Picks", "th-list"),
] %}
{{ macs.top_nav(nav_menu) }}
{{ macs.mobile_nav(nav_menu) }}


<body style="margin-bottom:15px">
    <main>
        <div class="hero page-title-hero">
          <div class="hero-body">
            <div class="container">
              <h1 class="title">{% block hero_title %}{% endblock %}</h1>
            </div>
          </div>
            {% block hero_foot %}{% endblock %}
        </div>
        {% block body %}{% endblock %}
        {% block add_below %}{% endblock %}
    </main>
</body>
</html>