{% macro collapse_header(text, text_size=4, collapsed=False) %}
    <div class="collapse-header level is-mobile {% if collapsed %}collapsed{% endif %}" onclick="toggle_slider($(this))">
        <div class="level-left">
            <h3 class="title is-{{ text_size }}">{{ text }}</h3>
        </div>
        <div class="level-right">
            <span class="icon">
                {% if collapse %}
                <i class="fas fa-angle-down is-size-{{ text_size }}"></i>
                {% else %}
                <i class="fas fa-angle-up is-size-{{ text_size }}"></i>
                {% endif %}
            </span>
        </div>
    </div>
    <script>
    function toggle_slider(e) {
        let icon = e.find(".icon").find("i");
        let collapseBody = e.closest('.collapse-wrapper').find(".collapse-body");
        collapseBody.stop().slideToggle(function() {
            icon.toggleClass("fa-angle-down");
            icon.toggleClass("fa-angle-up");
        });
    }
    </script>
    <style>
    .collapse-header{
        cursor: pointer;
    }

    .collapse-header.collapsed + .collapse-body {
        display: none;
    }
    </style>
{% endmacro %}

{% macro menu_burger(on_click) %}
    <div class="burger" onclick="{{ on_click }}">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
    </div>
{% endmacro %}

{% macro locked() %}
<section class="section">
    <p class="has-text-centered">The deadline to make or change your picks for this season has passed. Picks for next season can be made one week before the Master's tournament</p>
    <br>
    <h1 class="has-text-centered" style="font-size: 50px"><span class="icon"><i class="fas fa-lock"></i></span></h1>
</section>
{% endmacro %}