{% extends "base.html" %}
{% block title %}Golf Pool{% endblock %}

{% block body %}
<section class="section">
    <div class="container">
        <div class="content">
            <h1>Welcome to the {{year}} Golf Pool</h1>
            <p>Use this page to make your picks, change your picks, and view standings</p>
        </div>
        <div id="home-page-buttons" class="has-text-centered">
            <a href="{{ url_for('picks.picks_make') }}"><button class="button" style="width:80%;margin: 10px">Make Picks</button></a><br>
            <a href="{{ url_for('picks.picks_change') }}"><button class="button" style="width:80%;margin: 10px">Change Picks</button></a><br>
            <a href="{{ url_for('picks.picks_poolwide') }}"><button class="button" style="width:80%;margin: 10px">Poolwide Picks</button></a><br>
            <a href="{{ url_for('results.results_live') }}"><button class="button" style="width:80%;margin: 10px">Results</button></a><br>
{#            <a href="/tournament/live"><button class="button" style="width:80%;margin: 10px">Standings</button></a>#}
{#            <a href="/picksets/poolwide/2019"><button class="button" style="width:80%;margin: 10px">Poolwide Picks</button></a>#}
        </div>
    </div>
</section>
{% endblock %}