{#
params:
-
#}
{% extends "base.html" %}

{% block title %}Test{% endblock %}
{% block hero_title %}Test{% endblock %}

{% block body %}
<div class="container">
    <div class="level is-mobile has-background-light">
        <div class="level-left">

        </div>
        <div class="level-left">
            <div class="burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block add_below %}
{% endblock %}