{% macro all_picks_tab(all_picks) %}
    <section id="all-picks-section" class="section has-background-light">
        <div class="table-container">
            <table id="picks-table" class="table is-fullwidth is-bordered is-hoverable">
                <thead>
                    <tr>
                        <th>Participant</th>
                        {% if all_picks and are_levels_defined(all_picks[0].picks) %}   {# If levels have been defined #}
                            <th colspan="3">Level 1</th>
                            <th colspan="3">Level 2</th>
                            <th colspan="2">Level 3</th>
                            <th colspan="2">Level 4</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                {% for pickset in all_picks|sort(attribute='name') %}
                    <tr class="all-picks-row" onclick="$(this).toggleClass('has-background-grey-lighter')">
                        <td class="participant-name"><a>{{ pickset.name }}</a></td>
                        {% for player in pickset.picks %}   {# Picks should not be level separated #}
                            <td class="player-name" data-pid="{{ player.id }}">{{ player.name }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

{% endmacro %}


{% macro most_picked_tab(most_picked_players) %}
<div class="container">
    {% if are_levels_defined(most_picked_players) %}    {# Can't sort if levels havent been defined #}
        <div id="format-checkbox">
            <label class="checkbox">
                <input id="organize-most-picked" onclick="organize_most_picked()" type="checkbox" autocomplete="off">
                By Level
            </label>
        </div>
    {% endif %}
    <table class="table is-hoverable is-fullwidth">
        <thead>
            <tr><th>Name</th><th class="has-text-centered">Number Picked</th></tr>
        </thead>
        <tbody>
            {% for player in most_picked_players %}
            <tr data-pid="{{ player.pid }}" class="most-picked-row" data-level="{{ player.level }}" data-numpicked="{{ player.num_picked }}">
                <td class="player-name">{{ player.name }}</td>
                <td class="has-text-centered">
                    <span class="columns is-mobile">
                        <span class="column is-four-fifths">
                            <progress class="progress is-link" max="100" data-end="{{ player.num_picked }}"></progress>
                        </span>
                        <span class="column num-picked">
                        </span>
                    </span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endmacro %}
