{% macro most_picked_tab(most_picked_players) %}
<div class="container">
    <div id="format-checkbox">
        <label class="checkbox">
            <input onclick="switch_format($(this))" type="checkbox" autocomplete="off">
            By Level
        </label>
    </div>
    <table class="table is-hoverable is-fullwidth">
        <thead>
            <tr><th>Name</th><th class="has-text-centered">Number Picked</th></tr>
        </thead>
        <tbody>
            {% for player in most_picked_players %}
            <tr data-pid="{{ player[0] }}" class="most-picked-row" data-level="{{ player[3] }}" data-numpicked="{{ player[2] }}">
                <td class="player-name">{{ player[1] }}</td>
                <td class="has-text-centered">
                    <span class="columns is-mobile">
                        <span class="column is-four-fifths">
                            <progress class="progress is-link" max="100" data-end="{{ player[2] }}"></progress>
                        </span>
                        <span class="column num-picked">
                        </span>
                    </span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endmacro %}


{% macro compare_tab(all_picks) %}
    <div class="container">
        <div class="field is-grouped">
            {% for i in range(2) %}
            <div class="control is-expanded">
                <div class="select" style="width: 100%">
                    <select class="select-compare" style="width: 100%">
                        <option disabled selected>Choose a pickset</option>
                        {% for pickset in all_picks %}
                        <option value="{{ pickset.pickset_id }}">{{ pickset.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="field">
            <div class="control has-text-centered"><button id="compare-button" onclick="do_compare()" class="button is-link">Compare</button></div>
        </div>
        <div id="compare-results"></div>
    </div>
{% endmacro %}

{% macro compare_table(pickset1, pickset2) %}
    <table class="table is-fullwidth">
        <tr><th class="has-text-centered">{{ pickset1.name }}</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th class="has-text-centered">{{ pickset2.name }}</th></tr>
        {% for i in range(10) %}
            <tr>
                <td>{{ pickset1.picks[i].name }}</td><td class="has-text-centered">{{ pickset1.picks[i].points }}</td>
                <td>&nbsp;</td>
                <td class="has-text-centered">{{ pickset2.picks[i].points }}</td><td class="has-text-right">{{ pickset2.picks[i].name }}</td>
            </tr>
        {% endfor %}
    </table>

{% endmacro %}