{% macro level_4_suggestions(results) %}
<table style="width:100%">
    {% for player in results %}
    <tr>
        <td class="level-4-option" data-pid="{{ player.pid }}" onclick="add_level_4(this)">{{ player.name }}</td>
        <td style="text-align: center">
        </td>
    </tr>
    {% endfor %}
</table>
{% endmacro %}

{% macro level_4_field(choice_num, value="") %}
    <div class="level-4-field field" data-tooltip="Note: This player may not play in the Master's">
        <div class="control is-expanded">
            <div class="level-4-select box hide">
                <div class="columns">
                    <div class="column is-11">
                        <p></p>
                    </div>
                    <div class="column">
                        <span class="delete" onclick="remove_selection(this)"></span>
                    </div>
                </div>
            </div>
            <input class="input level-4-input" name="level-4" placeholder="Choice #{{ choice_num }}" value="{{ value }}" autocomplete="off" data-original="{{ value }}" required>
            <div class="box suggestions-box hide"></div>
        </div>
    </div>
{% endmacro %}

{% macro level_4_script(display_check=False) %}
<script>
const MASTERS_FIELD_URL = "https://statdata.pgatour.com/r/014/field.json";
var masters_field;
var send_request = true;

function in_masters_field(name) {
    let split = name.split(" ", 2);
    name = split[1] + ", " + split[0];
    out(name);
    for (let i = 0; i < masters_field.length; i++) {
        const player = masters_field[i];
        if (player.PlayerName === name) {
            return true;
        }
    }

    return false;
}

function get_masters_field() {
    $.ajax({
        url: MASTERS_FIELD_URL,
        success: function (data) {
            masters_field = data.Tournament.Players;
        },
        error: function (e) {
            console.log(e);
        },
        dataType: "json"
    });
}

function check_level_4() {
    let valid = true;
    let inputs = $(".level-4-input");

    if( (inputs.eq(0).val() === inputs.eq(1).val()) && (inputs.val() !== "") ) {
        inputs.addClass("is-danger");
        valid = false;
        out(1);

    }
    else {
        inputs.each(function () {
            const val = $.trim( $(this).val().toLowerCase() );
            if (val.length < 2) {
                out(2);
                valid = false;
            }
            else {
                $(".player-checkbox").each(function () {
                    if ($(this).val().toLowerCase().split("*")[0] === val) {
                        out(3);
                        valid = false;
                        return;
                    }
                });
            }
        });
    }

    {% if display_check %}
    let check_icon = $("#make-picks-menu").find(".check-icon").eq(4);
    if(valid) {
        check_icon.removeClass('hide');
    }
    else {
        check_icon.addClass('hide');
    }
    {% endif %}

    return valid;
}


$(".level-4-input").keyup(function () {
    const val = this.value;
    let suggestionsBox = $(this).closest('.control').find(".suggestions-box");
    if(val.length > 0) {
        $.ajax({
            url: '/picks/level-4-search',
            data: {value: val},
            success: function (r) {
                suggestionsBox.removeClass('hide').html(r);
            }
        })
    }
    else {
        suggestionsBox.addClass('hide');
    }
    check_level_4();
});

function add_level_4(e) {
    const name = e.innerText;

    let field = $(e).closest('.field');
    field.find('.level-4-input').val(name);
    field.find('.suggestions-box').addClass('hide');
    check_level_4();

    if(in_masters_field(name)) {
        field.removeClass("tooltip is-tooltip-active");
    }
    else {
        field.addClass("tooltip is-tooltip-active");
        window.setTimeout(function() {
            field.removeClass("tooltip is-tooltip-active");
        }, 2000);
    }

}

function remove_level_4(e) {
    $(e).closest('.field').find('.level-4-input').val('');
    check_level_4();
}


{#$(".level-4-input").blur(function() {$(".suggestions-box").addClass("hide");});#}

get_masters_field();
</script>
<style>
.suggestions-box {
    padding: 0;
}

.level-4-option {
    cursor: pointer;
    padding: 4px 8px 4px 8px;
}

.level-4-option:hover {
    background: #23d160;
    color: white;
}

.level-4-input {
    text-transform: capitalize;
    padding: 16px 10px 16px 10px;
}

.level-4-input, .level-4-option {
    font-size: 16px;
}
</style>
{% endmacro %}