{#
Params:
    - level_players
    - OWGR_URL
#}
{% extends "base.html" %}
{% import "make/make-picks.macro.html" as mp_macs  %}

{% block add_head %}
<link rel="stylesheet" href="/picks/static/css/make-picks.css">
{% endblock %}

{% block title %}Make Picks{% endblock %}
{% block hero_title %}Make Picks{% endblock %}

{% block body %}
<div class="columns">
    {# Main Picks Container #}
    <div class="column">
    <form id="make-picks-form" method="post" action="{{ url_for('picks.picks_submit') }}"  onsubmit="submit_make_picks()">
        {# General Information Section #}
        <section id="general-section" class="section">
            <div class="box pick-box">
                <h1 class="title">General</h1>
                <p class="section-description">Enter your name, email, and a pin. The pin is for if you end up wanting to change your picks.</p><hr>
                {{ mp_macs.general_field(label="Name", name="name", type="text", icon="fas fa-user", capitalize=True, error_message="Please enter a valid name") }}
                {{ mp_macs.general_field(label="Email", name="email", type="email", icon="fas fa-envelope", error_message="Please enter a valid email") }}
                {{ mp_macs.general_field(label="PIN", name="pin", type="password", icon="fas fa-key", maxlength=4, filter_pin=true, show_icon=true, error_message="PIN must have 4 numbers") }}
            </div>
        </section>

        {# Levels 1-3 Section #}
        {% set num_picks = [3,3,2] %}
        {% for n in num_picks %}
            {{ mp_macs.main_level_field(loop.index, n, level_players[loop.index0]) }}
        {% endfor %}

        {# Levels 4 Section #}
        {{ mp_macs.level_4_section() }}

        {# Submission Section #}
        <section class="section">
            <div class="container">
                <div class="field is-grouped is-grouped-right">
                    <div class="control">
                        <button id="submit-picks-button" class="button is-link is-pulled-right" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </section>
    </form>
    </div>
</div>
<script>
{# Vars for Script #}
var OWGR_URL = '{{ OWGR_URL }}';
</script>
<script src="/picks/static/js/make-picks.js"></script>
{% endblock %}
