{#
Params:
    - level_players
    - OWGR_URL
    - year
#}
{% extends "base.html" %}
{% import "make/make-picks.macro.html" as mp_macs  %}

{% block add_head %}
<link rel="stylesheet" href="/picks/static/css/make-picks.min.css">
{% endblock %}

{% block title %}Golf Pool | Make Picks{% endblock %}
{% block hero_title %}Make Picks - {{ year }}{% endblock %}

{% block body %}
<div class="columns">
    {# Main Picks Container #}
    <div class="column container">
        <form id="make-picks-form" method="post" action="{{ url_for('picks.picks_submit') }}"  onsubmit="return submit_make_picks()">
            {# General Information Section #}
            {{ mp_macs.general_section() }}

            {# Levels 1-3 Section #}
            {% set num_picks = [3,3,2] %}
            {% for n in num_picks %}
                {{ mp_macs.main_level_field(loop.index, n, level_players[loop.index0]) }}
            {% endfor %}

            {# Levels 4 Section #}
            {{ mp_macs.level_4_section() }}

            {# Submission Section #}
            <section class="section">
                <div class="container">
                    <div class="field is-grouped is-grouped-right">
                        <div class="control">
                            <button id="submit-picks-button" class="button is-link is-pulled-right" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </div>
</div>
<script>
{# Vars for Script #}
var OWGR_URL = '{{ OWGR_URL }}';
var API_PLAYERS_URL = '{{ API_PLAYERS_URL }}';
</script>
<script src="/picks/static/js/make-picks.js?v=1.3"></script>
{% endblock %}
