{% macro general_section() %}
    <section id="general-section" class="section">
        <div class="box pick-box">
            <h1 class="title">General</h1>
            <p class="section-description">Enter your name, email, and a pin. The pin is for if you end up wanting to change your picks.</p><hr>
            {{ general_field(label="Name", name="name", type="text", icon="fas fa-user", capitalize=True, error_message="Please enter a valid name") }}
            {{ general_field(label="Email", name="email", type="email", icon="fas fa-envelope", error_message="Please enter a valid email") }}
            {{ general_field(label="PIN", name="pin", type="password", icon="fas fa-key", maxlength=4, filter_pin=true, show_icon=true, error_message="PIN must have 4 numbers") }}
        </div>
    </section>
{% endmacro %}
{% macro general_field(label, name, type="", maxlength=75, icon="", filter_pin=false, show_icon=false, error_message="", capitalize=False) %}
    <label class="label">{{ label }}</label>
    <div class="field {% if show_icon %}has-addons{% endif %}" data-tooltip="{{ error_message }}">
          <div class="control has-icons-left has-icons-right {% if show_icon %}is-expanded{% endif %}">
            <input name="{{ name }}" class="input animated general-input" type="{{ type }}"
                 onblur="general_field_checker($(this))" maxlength="{{ maxlength }}"
                 autocomplete="off"
                {% if capitalize %}
{#                style="text-transform: capitalize"#}
                {% endif %}
                 required>
              <span class="icon is-left is-small">
                  <i class="{{ icon }}"></i>
              </span>
              <span class="icon is-right is-small">
                  <i class="fas fa-check hide"></i>
                  <i class="fas fa-exclamation-triangle hide"></i>
              </span>
          </div>
          {% if show_icon %}
          <div class="control">
            <button class="button show-input-button" type="button" onclick="toggle_show_pin($(this))"><i class="fas fa-eye"></i></button>
          </div>
          <div class="control">
            <button class="button random-pin-button" type="button" onclick="shuffle_pin($(this))"><i class="fas fa-random"></i></button>
          </div>
          {% endif %}
    </div>
{% endmacro %}

{% macro main_level_field(level, picks_allowed, players) %}
    <div class="box pick-box main-level-box" data-allowed="{{ picks_allowed }}" data-level="{{ level }}">

        {# Pickbox Header #}
        <div class="level is-mobile" style="margin-bottom: 5px">
            <div class="level-left"><h2 class="title">Level {{ level }}</h2>&nbsp;(<span class="num-picked">0</span>/{{ picks_allowed }})</div>
            <div class="level-right">
                <label class="level-item">Show Details &nbsp;<input class="show-details" type="checkbox" onchange="main_level_player_details($(this))"></label>
                <a class="level-item icon reset-level" onclick="reset_main_level($(this).closest('.pick-box'))"><i class="fas fa-eraser"></i></a>
            </div>
        </div>
        <p class="section-description">Pick {{ picks_allowed }} players from the list below by clicking on their name. Check the checkbox on the right to see photos and rankings.</p>
        <hr>
        {# Pickbox body #}
        <div class="columns is-multiline">
            {% for player in players|sort(attribute="name") %}
                <div class="column is-half player-column" data-pid="{{ player.id }}">
                    <label>
                        <input class="player-checkbox" type="checkbox" value="{{ player.name }}*{{ player.id }}" name="level-{{ player.level }}"> {# Check if it was picked #}
                        <span class="button">{{ player.name }}</span>
                    </label>
                    <div class="box player-details">
                        <div class="media">
                                <figure class="media-left image is-128x128">
                                    <img alt="{{ player.name }} Photo" data-src="{{ player.photo_url }}">
                                </figure>
                            <div class="media-content">
                                <table class="table is-fullwidth">
                                    <tr><th>World Golf Ranking</th><td class="owgr-rank">-</td></tr>
                                    <tr><th class="pool-ranking-column">Pool Ranking</th><td class="pos-history">-</td></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{# LEVEL 4 STUFF #}
{% macro level_4_section(values=()) %}
    <div class="box pick-box">
        <h1 class="title">Level 4</h1>
        <p class="section-description">Type in any two players who are not listed above.</p>
        <hr>
        <div class="level-4-field field" data-tooltip="Note: This player may not play in the Master's">
            <div class="control">
                <input id="level-4-text" onkeyup="create_player_suggestions($(this))" class="input" autocomplete="off" data-original="{{ value }}" required {% if values %}disabled{% endif %}> {# If values are given, then they are changing picks #}
                <div id="suggestions-box" class="box hide">
                    <table>
                        {% for i in range(5) %}
                        <tr class="hide level-4-option">
                            <td class="level-4-option-name" data-pid="" onclick="add_level_4($(this).text(), $(this).data('pid'))"></td>
                            <td style="has-text-centered"></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <table id="level-4-picks" class="table is-fullwidth">
            {# For when changing picks #}
            {% for val in values %}
            <tr>    {# If changing, make sure to change js as well #}
                <td>{{ val.name }}</td>
                <td><a onclick="remove_level_4($(this).closest('tr'))"><i class='fa fa-times'></i></a></td>
                <td class='hide'><input type='hidden' name='level-4' value='{{ val.name }}*{{ val.id }}'></td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endmacro %}


{% macro submit_section() %}
    <section class="section">
        <div class="container">
            <div class="field is-grouped is-grouped-right">
                <div class="control">
                    <button id="submit-picks-button" class="button is-link is-pulled-right" type="submit">Submit</button>
                </div>
            </div>
        </div>
    </section>
{% endmacro %}