{% import "base.macro.html" as macs %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Golf Pool{% endblock %}</title>

    <link rel="icon" href="/static/img/golf-club.png">

    {{ macs.head_includes(is_local) }}
    {{ macs.helper_scripts() }}

    {# Default Stylesheets #}
    {% block add_head %}
        <link rel="stylesheet" href="/static/css/library/bulma.min.css">
        <link rel="stylesheet" href="/static/css/base.min.css">
    {% endblock %}
</head>

{# Navigations menus #}
{% set nav_menu = [
    ("/", "Home"),
    (url_for('picks.picks_make'), "Make Picks"),
    (url_for('picks.picks_change'), "Change Picks"),
    (url_for('results.results_live'), "Standings"),
    (url_for('picks.picks_poolwide'), "Poolwide Picks"),
] %}
{{ macs.top_nav(nav_menu) }}
{{ macs.mobile_nav(nav_menu) }}


<body style="margin-bottom:15px">
<div class="hero page-title-hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">{% block hero_title %}{% endblock %}</h1>
    </div>
  </div>
    {% block hero_foot %}{% endblock %}
</div>
{% block body %}{% endblock %}
{% block add_below %}{% endblock %}
</body>
</html>