{#
params: level_players, pickset, year, OWGR_RANKINGS
-
#}
{% extends "base.html" %}
{% import 'make/make-picks.macro.html' as mp_macs %}
{% block add_head %}
<link rel="stylesheet" href="/picks/static/css/make-picks.css">
{% endblock %}
{% block title %}Change Picks | {{ pickset.name }}{% endblock %}
{% block hero_title %}Change Picks - {{ pickset.name }}{% endblock %}

{% block body %}

{# Logout Box #}
<div style="padding:5px" class="has-text-centered">
    <a href="{{ url_for('picks.picks_change_logout') }}">Logout</a>
</div>

{# Picks Sections #}
<div class="columns">
    <div class="column">
        <form id="make-picks-form" method="post" action="{{ url_for('picks.picks_submit_changes') }}" onsubmit="submit_change_picks()">
            {# Levels 1-3 Section #}
            {% set num_picks = [3,3,2] %}
            {% for n in num_picks %}
                {{ mp_macs.main_level_field(loop.index, n, level_players[loop.index0], picks=pickset.picks[loop.index0]) }}
            {% endfor %}

            {# Levels 4 Section #}
            {{ mp_macs.level_4_section(pickset.picks[3]) }}

            {# Submission Section #}
            <section class="section">
                <div class="container">
                    <div class="field is-grouped is-grouped-right">
                        <div class="control">
                            <button id="submit-picks-button" class="button is-link is-pulled-right" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </div>
</div>
{% endblock %}

{% block add_below %}
<script>
const OWGR_URL = '{{ OWGR_URL }}';
</script>
<script src="/picks/static/js/make-picks.js"></script>
<script src="/picks/static/js/change-picks.js"></script>
{% endblock %}